html {
  /* cursor: none; */
  position: relative;
  /* color: green; */
}

:root {
  --main-color: #666;
}
.lists {
  --main-color: redfwe;
}
/* 
.title {
  overflow: hidden;
  text-align: center;
}

.title .text {
  display: block;
  color: #a7a7a7;
  transform: translateY(50px);
}

.image {
  width: 160px;
  margin: auto;
  padding: 160px 0 0;
  text-align: center;
  position: relative;
}

.image .html-logo {
  width: 100%;
  height: 100%;
}

.return-logo {
  width: 80px;
  height: 80px;
}
.return-logo img {
  width: 100%;
}

.shadow {
  width: 100px;
  height: 20px;
  background-color: #4e4e4e;
  display: inline-block;
  margin: auto;
  border-radius: 50%;
  filter: blur(3px);
  position: absolute;
  bottom: 10px;
  right: calc(50% - 50px);
  z-index: -1;
}

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.cursor::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #4e4e4e;
}

.cards {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.cards .card {
  width: 30%;
}
.cards .card img {
  width: 100%;
  height: auto;
}
.cards .card button {
  border: 1px solid #000;
} */

/* .title {
  color: var(--main-color);
  text-align: center;
}
.sub-title {
  color: var(--main-color);
  text-align: center;
  padding: 0 0 16px;
  margin: 0 20% 24px;
  border-bottom: 3px solid;
}
.lists {
  width: 80%;
  margin: auto;
  border: 1px solid var(--main-color);
  border-radius: 6px;
  padding: 24px;
  list-style: none;
}
.lists .list {
  padding: 0 0 8px;
  margin: 0 0 8px;
  border-bottom: 1px solid var(--main-color);
}
.lists .list .button {
  border: 3px solid var(--main-color);
  color: var(--main-color, red);
  border-radius: 6px;
  padding: 4px 8px;
} */

/* button {
  padding: 4px 8px;
  border: 1px solid #000;
  color: #000;
}
button:hover {
  color: #fff;
  background-color: #000;
}
.primary {
  border: 1px solid #0dcaf0;
}
.primary:hover {
  background-color: #0dcaf0;
} */

.button-wrapper {
  margin: 16px;
  display: inline-block;
}

button {
  --button-initial-color: #000;
  border: 1px solid var(--custom-color, var(--button-initial-color));
  color: var(--custom-color, var(--button-initial-color));
  padding: 8px 12px;
  border-radius: 4px;
}
button:hover {
  color: #fff;
  background-color: var(--custom-color, var(--button-initial-color));
}
.primary {
  --custom-color: #0dcaf0;
}
.danger {
  --custom-color: #d95f6b;
}
.warning {
  --custom-color: #edbf34;
}

